* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #38A3A5;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
.main-page {
  flex: 1 0 auto;
}
/*
######################### BACKGROUND IMAGES/VIDEO #########################
 */
#background-sunny, #background-overcast {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#background-video-rain {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/*
######################### TOP BAR #########################
*/
/* PAGE TITLE/NAV BAR/OPENWEATHERMAP ICON */
.openweather-icon {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
}
.page-title {
  text-decoration: none;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  background-color: #22577A;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  z-index: 9999;
  position: absolute;
  right: 0px;
  height: 94vh;
  top: 6vh;
  background-color: #22577A;
  flex-direction: column;
  align-items: center;
  width: 30%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #e2e2e2;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.nav-links a:hover { color: #38A3A5; }
.burger, .speaker-icon {
  cursor: pointer;
  z-index: 999999;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  transition: all 0.3s ease;
  z-index: 5;
  margin-left: 30px;
}
.nav-links li {
  opacity: 0;
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*
######################### MAIN SECTION FOR ALL PAGES #########################
*/
/* Search Bar */
#search-bar-alignment {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
#search-bar.search-query {
  color: black;
  background-color: grey;
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline;
  height: 50%;
  text-align: center;
  padding: 4px 46px 4px 60px;
  border-radius: 5px;
  margin-bottom: 12px;
  opacity: 90%;
}
#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline;
  height: 50%;
  text-align: center;
  padding: 4px 46px 4px 60px;
  border:1px solid black;
  border-radius: 5px;
  margin-bottom: 12px;
  opacity: 90%;
}
#button {
  display: inline;
  height: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* Weather Data - Index Page */
#weather-data-heading { font-size: 1em; text-align: center; }
#other-data-heading { font-size: 0.9em; z-index: 1000; }
#current-weather-data-box, #weather-forecast-box { background: rgba(34, 87, 122, 0.80); }
#current-weather-data-box, #weather-forecast-box, #other-data-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
#current-weather-data-box, #weather-forecast-box, #other-data-box { padding: 2%; margin: 2%; padding-left: 25%; padding-right: 25%;  }
#other-data-box { background: rgba(56, 163, 165, 0.80); margin-top: 3%; }
.weather-data { font-size: 1.5em; }
.raw-data-temp { font-size: 3.5em; }
.raw-data-weather { font-size: 2em; }
.raw-data-weather-description { font-size: 1.8em; }
/* Select all div elements within the weather-data div and apply vertical centering */
div.weather-data > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Select all div elements within the other-weather-data div and apply vertical centering */
div.other-weather-data > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forecast-temp { font-size: 0.8em; }

/* Weather Warnings - Weather Warnings Page */
#weather-warnings-header, #weather-warnings-box-header {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#weather-warnings-box-header { font-size: 1.5em; }
#weather-warnings-box {
  background: rgba(34, 87, 122, 0.6);
  padding: 2%;
  margin: 2%;
  padding-left: 25%;
  padding-right: 25%;
}
.weather-warnings-data {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-align: center;
}
#weather-warnings-sender {
  font-size: 2em;
  padding: 2%;
}
#weather-warnings-alert {
  font-size: 1.75em;
  padding: 2%;
}
#weather-warnings-description {
  padding-top: 2%;
  font-size: 1.3em;
  text-align: center;
}

/* Weather Map - Weather Map Page */
#map { height: 100% }
/*
######################### FOOTER #########################
*/
footer {
  color: white;
  width: 100%;
  min-height: 12vh;
  z-index: 999;
  background-color: #22577A;
}
#copyright-me { text-align: center; }
#footer-text { font-size: 1em; text-decoration: none; color: #e2e2e2; text-align: center; }
#footer-text:hover { color: #38A3A5; }
/*
######################### SMALLER SCREEN ADJUSTMENTS #########################
*/
@media screen and (max-width: 1080px) {
  nav { min-height: 6vh; }
  footer { min-height: 10vh; padding-top: 20px; }
  .weather-warnings-header { font-size: 1.5em;  }
  .weather-warnings-data { font-size: 0.85em; }
}
@media screen and (max-width: 520px) {
  .weather-warnings-header, .weather-data, .other-weather-data { font-size: 0.85em;  }
  .weather-warnings-data { font-size: 0.40em; }
  footer { font-size: 0.75em; min-height: 10vh; padding: 0; }
}
