<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Weather App</title>
        <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/586a162324.js" crossorigin="anonymous"></script>
        {% if weather == "Clear Sky" or weather_description == "Broken Clouds" %}
            <link rel="favicon icon" type="image/png" href="{{ url_for('static', filename='IMG/favicon_sun.png') }}" />
        {% else %}
            <link rel="favicon icon" type="image/png" href="{{ url_for('static', filename='IMG/favicon_cloud.png') }}" />
        {% endif %}
        <link rel="stylesheet" href="{{  url_for('static', filename='CSS/style.css') }}">
    </head>
    <body>
    {% if weather == "Clear Sky" or weather_description == "Broken Clouds" %}
        <img id="background-sunny" src="{{ url_for('static', filename="IMG/sunny.png") }}" alt="sunny sky">
    {% elif weather_description == "Overcast Clouds" or weather_description == "Scattered Clouds" or weather_description == "Few Clouds" %}
        <img id="background-overcast" src="{{ url_for('static', filename="IMG/overcast.png") }}" alt="overcast sky">
    {% else %}
        <video autoplay muted loop id="background-video-rain"><source src="{{ url_for('static', filename="VID/rain_background_compressed.mp4") }}" type="video/mp4"></video>
    {% endif %}
        <div id="top-bar">
            <nav>
                <img class="openweather-icon" src="{{ url_for('static', filename='IMG/openweathermap_icon.png') }}" alt="OpenWeatherMap Icon">
                <h4><a class="page-title" href="/">Weather App</a></h4>
                <ul class="nav-links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/weather-warnings">Weather Warnings</a>
                    </li>
                    <li>
                        <a href="/weather-map">Weather Map</a>
                    </li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
        <div class="main-page">
            <div id="search-bar-alignment">
                <form id="search" action="/" method="POST">
                    <input type="text" id="search-bar" name="city" placeholder="Enter a town or city">
                    <button id="button" type="submit" onClick=""><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div id="weather-data-box">
                <div class="weather-data">
                    <h1 id="weather-data-heading">Here is the current weather for {{ location }}</h1>
                    <!--<i class='fas fa-cloud-sun' style='font-size:36px'></i>-->
                    <p class="raw-data-temp">{{ temp }} &#176;</p>
                    <!--<p class="raw-data-weather">Weather: {{ weather }}</p>-->
                    <p class="raw-data-weather-description">{{ weather_description }}</p>
                    <p class="raw-data-feels-like">Feels Like: {{ feels_like }} &#176;</p>
                    {% if feels_like < 10 %}
                        <i class="fas fa-temperature-low"></i>
                    {% else %}
                        <i class="fas fa-temperature-high"></i>
                    {%  endif %}
		    <!--<p id="raw-data">Precipitation amount today: {{ rain }}</p>-->
                </div>
            </div>
            <div id="other-data-box">
                 <div class="other-weather-data">
                     <h2 id="other-data-heading">Auxiliary forecast information for {{ location }}</h2>
                     <p class="raw-data-wind-speed">Wind Speed: {{ wind }} mph</p>
                     <p class="raw-data-sunrise">Sunrise Time: {{ sunrise }} am</p>
                     <p class="raw-data-sunset">Sunset Time: {{ sunset }} pm</p>
                     <p class="raw-data-uvi">UV Index: {{ uvi }}</p>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; 2021 Cameron Hunt <br>
            <a id="footer-text" rel="nofollow" href="http://www.videezy.com">Free stock footage by Videezy.</a> <br>
            <a id="footer-text" rel="nofollow" href="https://www.iconsdb.com/orange-icons/sun-icon.html">Sun favicon icon from iconsdb.</a> <br>
            <a id="footer-text" rel="nofollow" href="https://www.flaticon.com/" title="Flaticon">Cloud favicon from www.flaticon.com.</a> <br>
            <a id="footer-text" rel="nofollow" href="https://commons.wikimedia.org/wiki/File:OpenWeather-Logo.jpg" title="OpenWeatherMap">OpenWeatherMap logo with the text colour changed to white and used <br> under the Creative Commons Attribution-Share Alike 3.0 Unported licence.</a></p>
        </footer>
    </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            var lat = 0;
            var lon = 0;
            function askForUserLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition, showError);
                } else {
                    console.log("Geolocation is not supported by this browser");
                }
            }
            function showPosition(position) {
                lat = position.coords.latitude;
                lon = position.coords.longitude;
                $(function () {
                    $.ajax({
                        type: "POST",
                        data: {"lat": lat, "lon": lon},
                        url: "/",
                    });
                });
            }
            // Error handling is required for it to work in the Safari browser
            // https://stackoverflow.com/questions/61260570/html5-geolocation-not-prompting-for-location-on-safari-browser
            function showError(error) {
                switch (error.code) {
                    case error.PERMISSION_DENIED:
                        console.log("User denied the location request.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        console.log("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        console.log("The request to get the location timed out.");
                        break;
                    case error.UNKNOWN_ERROR:
                        console.log("An unknown error occurred.")
                        break;
                }
            }
            askForUserLocation();
        </script>
        <script src="{{ url_for('static', filename="JS/nav.js") }}"></script>
        <script src="{{ url_for('static', filename="JS/map.js") }}"></script>
</html>
