<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Weather App</title>
        <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/586a162324.js" crossorigin="anonymous"></script>
        <link rel="favicon icon" type="image/png" href="{{ url_for('static', filename='IMG/favicon.png') }}" />
        <link rel="stylesheet" href="{{  url_for('static', filename='CSS/style.css') }}">
    </head>
    <body>
    {% if weather == "Clear Sky" or weather_description == "Broken Clouds" %}
        <img id="background-sunny" src="{{ url_for('static', filename="IMG/sunny.png") }}" alt="sunny sky">
    {% elif weather_description == "Overcast Clouds" %}
        <img id="background-overcast" src="{{ url_for('static', filename="IMG/overcast.png") }}" alt="overcast sky">
    {% else %}
        <video autoplay muted loop id="background-video-rain"><source src="{{ url_for('static', filename="VID/rain_background_compressed.mp4") }}" type="video/mp4"></video>
    {% endif %}
        <div id="top-bar">
            <nav>
                <img class="speaker-icon" src="{{ url_for('static', filename='IMG/speaker_icon.png') }}" alt="Speaker Icon">
                <h4><a class="page-title" href="/">Weather App</a></h4>
                <ul class="nav-links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/weather-warnings">Weather Warnings</a>
                    </li>
                    <li>
                        <a href="/weather-map">Weather Map</a>
                    </li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
        <div class="main-page">
            <div id="search-bar-alignment">
                <form id="search">
                    <input type="text" id="search-bar" placeholder="Enter a town or city">
                    <button id="button" type="submit" onClick="sendCity();"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!--Testing for now-->
            <!--<ul id="city-list">
                  <li><a href="#">Adele</a></li>
                  <li><a href="#">Agnes</a></li>

                  <li><a href="#">Billy</a></li>
                  <li><a href="#">Bob</a></li>

                  <li><a href="#">Calvin</a></li>
                  <li><a href="#">Christina</a></li>
                  <li><a href="#">Cindy</a></li>
            </ul>-->
            <div id="weather-data-box">
                <div class="weather-data">
                    <h1 id="weather-data-heading">Here is the current weather for {{ location }}</h1>
                    <!--<i class='fas fa-cloud-sun' style='font-size:36px'></i>-->
                    <p class="raw-data-temp">{{ temp }} &#176;</p>
                    <!--<p class="raw-data-weather">Weather: {{ weather }}</p>-->
                    <p class="raw-data-weather-description">{{ weather_description }}</p>
                    <p class="raw-data-feels-like">Feels Like: {{ feels_like }} &#176;</p>
		    <!--<p id="raw-data">Precipitation amount today: {{ rain }}</p>-->
                </div>
            </div>
            <div id="other-data-box">
                 <div class="other-weather-data">
                     <h2 id="other-data-heading">Auxiliary forecast information for {{ location }}</h2>
                     <p class="raw-data-wind-speed">Wind Speed: {{ wind }} mph</p>
                     <p class="raw-data-sunrise">Sunrise Time: {{ sunrise }} am</p>
                     <p class="raw-data-sunset">Sunset Time: {{ sunset }} pm</p>
                     <p class="raw-data-uvi">UV Index: {{ uvi }}</p>
                </div>
            </div>
        </div>
    <footer>
        <p>&copy; 2021 Cameron Hunt <br>
        <a id="footer-text" rel="nofollow" href="http://www.videezy.com">Free stock footage by Videezy</a> <br>
        <a id="footer-text" rel="nofollow" href="https://www.iconsdb.com/orange-icons/sun-icon.html">Favicon icon from iconsdb</a></p>
    </footer>
    </body>
        <script src="{{ url_for('static', filename="JS/nav.js") }}"></script>
        <script src="{{ url_for('static', filename="JS/search.js") }}"></script>
</html>
