<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Weather App</title>
        <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/586a162324.js" crossorigin="anonymous"></script>
        <link rel="favicon icon" type="image/png" href="{{ url_for('static', filename='IMG/favicon.png') }}" />
        <link rel="stylesheet" href="{{  url_for('static', filename='CSS/style.css') }}">
    </head>
    <body>
        <div id="top-bar">
            <nav>
                <img class="speaker-icon" src="{{ url_for('static', filename='IMG/speaker_icon.png') }}" alt="Speaker Icon">
                <h4><a class="page-title" href="/">Weather App</a></h4>
                <ul class="nav-links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/weather-warnings">Weather Warnings</a>
                    </li>
                    <li>
                        <a href="/weather-map">Weather Map</a>
                    </li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
        <div class="main-page">
            <div id="search-bar-alignment">
                <form id="search" onsubmit="retrieveCity()">
                    <input type="text" id="search-bar" placeholder="Enter a town or city">
                    <button id="button" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div id="weather-data-box">
            </div>
            <div id="other-data-box">
            </div>
        </div>
    <footer>
        <p>&copy; 2021 Cameron Hunt <br>
        <a id="footer-text" rel="nofollow" href="http://www.videezy.com">Free stock footage by Videezy</a>
        <a id="footer-text" rel="nofollow" href="https://www.iconsdb.com/orange-icons/sun-icon.html">Favicon icon from iconsdb</a></p>
    </footer>
    </body>
        <script src="{{ url_for('static', filename="JS/nav.js") }}"></script>
        <script src="{{ url_for('static', filename="JS/search.js") }}"></script>
</html>
